body {
    background-color: black;
    font-family: "Arsenal SC", sans-serif;
}

nav {
    margin: -20px -6px;
    width: 101%;
    height: 70px;
    border-bottom: 0.5px solid white;
}

.logo-box {
    font-size: 30px;
    padding: 15px 30px;
    color: white;
    width: 240px;
    height: 50;
}

.focus-t1 {
    color: red;
    font-family: "Arsenal SC", sans-serif;
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: -68px 0px 0px 560px;
    list-style: none;
}

.nav-links a {
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(189, 179, 179);

}

.nav-links a:hover {
    text-shadow: 0 0 15px #907cc9, 0 0 50px #db4eb1, 0 0 80px #dd4237;
}

.select-lang {
    width: 50px;
    height: 35px;
    margin: -8px;
    background-color: #00000000;
    color: #328643;
    font-size: 15px;
    border: none;

}

header {
    position: relative;
    background-color: #131014b0;
    margin: -10px;
    width: 101%;
    height: 530px;
    top: 15px;
    border: 1px solid;
    box-shadow: 0 1px 0px rgb(52, 56, 61);
}

.icon1 {
    position: absolute;
    width: 30%;
    left: 60%;
    top: 115px;
    box-shadow: 0 0 10px black, 0 0 25px black, 0 0 50px black;
}

.icon2 {
    position: absolute;
    width: 35%;
    left: 57.5%;
    top: 35px;
}


.container-t1 {
    position: relative;
    font-size: 15px;
    right: 10px;
    top: 45px;
}

.comment {
    position: relative;
    color: #888;
    /* Gray for comments */
    font-style: italic;
}

.keyword {
    color: rgb(148, 133, 235);
    /* Blue for keywords */
    font-weight: bold;
}

.string {
    color: #dd1144;
    /* Red for strings */
}

.function {
    color: #00aa88;
    /* Green for function names */
    font-weight: bold;
}

.variable {
    color: #aa00ff;
    /* Purple for variables */
}

.operator {
    color: #ff9900;
    /* Orange for operators */
}

.green {
    color: #00cc00;
    /* Green for specific text */
    font-weight: bold;
}

.button-h {
    position: relative;
    font-size: 15px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #131014b0;
    box-shadow: 0 0 20px cyan, 0 0 10px cyan;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    top: 0px;
    right:40px;
}

.button-h:hover {
    color: black;
    background-color: cyan;
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 80px cyan;
}

.learn-more1 {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: rgb(189, 179, 179);
    left: 140px;
    top: 45px;
}

.learn-more1:hover {
    font-weight: bold;
    color: rgb(148, 133, 235);
}

.container-who {
    background-color: #131014b0;
    width: 101%;
    height: 350px;
    margin: -5px;
    box-shadow: 0 1px 0px rgb(52, 56, 61);
}

.title-who {
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(189, 179, 179);
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 10px black, 1px 1px 25px black, 1px 1px 50px black;
}


.pro1 {
    position: relative;
    width: 300px;
    left: 4%;
    bottom: 90px;
    box-shadow: 0 0 10px black, 0 0 25px black, 0 0 50px black;
}

.article1 {
    position: relative;
    font-size: 20px;
    color: #00aa88;
    margin: 50px;
    width: 62%;
    left: 27%;
    bottom: 110%;
    white-space: 25px;
    line-height: 38px;
    text-shadow: 0 0 10px black, 0 0 25px black, 0 0 50px black;
}

.see-more {
    position: relative;
    width: 105px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(189, 179, 179);
    background-color: rgba(255, 255, 255, 0);
    left: 85%;
    bottom: 131%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 4px 4px 9px black;
}

.see-more:hover {
    box-shadow: 4px 4px 9px rgba(255, 255, 255, 0.534);
}

.container-works {
    background-color: #131014b0;
    width: 101%;
    height: 1000px;
    margin: 5px 0 0 -10px;
    box-shadow: 0 1px 0px rgb(52, 56, 61);
    display: flex;

}

.works {
    width: 300px;
    height: 800px;
    aspect-ratio: 3/2;
    margin: 130px 40px 0 70px;
}

.works:hover {
    box-shadow: 10px 10px 40px rgb(31, 29, 29);

}

.works-title {
    position: absolute;
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(189, 179, 179);
    left: 43%;
    text-shadow: 1px 1px 10px black, 1px 1px 25px black, 1px 1px 50px black;
}

.container-hints {
    background-color: #131014b0;
    width: 101%;
    height: 500px;
    margin: 0px 0px 0px -5px;
    box-shadow: 0 1px 0px rgb(52, 56, 61);

}

.hints-title {
    position: absolute;
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(189, 179, 179);
    left: 43%;
    text-shadow: 1px 1px 10px black, 1px 1px 25px black, 1px 1px 50px black;
}

.ascii2 {
    position: absolute;
    width: 25%;
    left: 72%;
    margin: 100px 0 0 -20px;
    box-shadow: 0 0 10px black, 0 0 25px black, 0 0 50px black;
}

.article2 {
    position: absolute;
    font-size: 20px;
    color: #00aa88;
    width: 62%;
    left: 4%;
    margin-top: 110px;
    line-height: 30px;
    text-shadow: 0 0 10px black, 0 0 25px black, 0 0 50px black;
}


.learn-more2 {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: rgb(189, 179, 179);
    left: 50%;
    top: 88%;
}

.learn-more2:hover {
    font-weight: bold;
    color: #00cc00;
}

.container-courses {
    background-color: #131014b0;
    width: 101%;
    height: 550px;
    margin: 0px 0px 0px -5px;
    box-shadow: 0 1px 0px rgb(52, 56, 61)
}

.courses-title {

    position: absolute;
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(189, 179, 179);
    left: 43%;
    text-shadow: 1px 1px 10px black, 1px 1px 25px black, 1px 1px 50px black;

}

.coimg {
    width: 300px;
    height: 220px;
    object-fit: contain;
    aspect-ratio: 2;
    margin: 100px -10px 0 15px;
    padding:0 0px 140px 0px ;
}

.coimg:hover {
    box-shadow: 0px 0px 15px rgb(52, 56, 61);
    border-radius:10px 11px ;
}

.courses-top {
    position: absolute;
    color: rgb(189, 179, 179);
    font-size: 25px;
    display: inline-block;
    margin: 340px 0px 0px -240px;
}

.apply-now {
    position: absolute;
    display: inline;
    color: rgb(189, 179, 179);
    display: inline-block;
    margin: 400px 0px 0px -200px;
    width: 110px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(189, 179, 179);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 4px 4px 9px black;
}

.apply-now:hover {
    color: black;
    background-color:#00cc00;
    border:none;
    box-shadow: 0px 1px 15px #00cc00;
}


footer {
    position: relative;
    background-color: #131014b0;
    margin: -10px;
    width: 101%;
    height: 50px;
    top: 10px;
    border: 1px solid;
    box-shadow: 0 1px 10px rgb(52, 56, 61);
}

.foot-title {
    color: #00aa88;
    font-size: 15px;
    margin: 15px 60px;
    white-space: 20px;
}

.focus-f1 {
    color: white;

}

.focus-f2 {
    color: red;
    font-weight: bold;
}

.copyright {
    color: #00aa88;
    font-size: 15px;
    text-align: center;
    margin: -35px 0px;
}

.social-hw {
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.icon-hw {
    width: 45px;
    margin: 0 25px 0 -5px;
    border-radius: 500px;
    aspect-ratio: 2;
    object-fit: contain;
}