* {
    text-decoration: none;


}


body {
    background-color: black;
    font-family: "Arsenal SC", sans-serif;
}

nav {
    margin: -20px -6px;
    width: 101%;
    height: 70px;
    border-bottom: 0.5px solid white;
}

.logo-box {
    font-size: 30px;
    padding: 15px 30px;
    color: white;
    width: 240px;
    height: 50;
}

.focus-t1 {
    color: red;
    font-family: "Arsenal SC", sans-serif;
}

.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: -68px 0px 0px 560px;
    list-style: none;
}

.nav-links a {
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(189, 179, 179);

}

.nav-links a:hover {
    text-shadow: 0 0 15px #907cc9, 0 0 50px #db4eb1, 0 0 80px #dd4237;
}

.select-lang {
    width: 50px;
    height: 35px;
    margin: -8px;
    background-color: #00000000;
    color: #328643;
    font-size: 15px;
    border: none;
}

.container-about {
    background-color: #131014b0;
    width: 100%;
    height: 750px;
    margin: -10px 0px 0 0px;
    box-shadow: 0 1px 0px rgb(52, 56, 61);
}



.title-who {
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(189, 179, 179);
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 10px black, 1px 1px 25px black, 1px 1px 50px black;
}

.about-h{
color:rgb(189, 179, 179);
margin:-30px 0px 0px -15px;
padding:10px 100px 100px 70px;
width:1100px;
font-size:25px;
line-height:40px;
}

footer {
    position: relative;
    background-color: #131014b0;
    margin: -10px;
    width: 100.5%;
    height: 50px;
    top: 10px;
    border: 1px solid;
    box-shadow: 0 1px 10px rgb(52, 56, 61);
}

.foot-title {
    color: #00aa88;
    font-size: 15px;
    margin: 15px 60px;
    white-space: 20px;
}

.focus-f1 {
    color: white;

}

.focus-f2 {
    color: red;
    font-weight: bold;
}

.copyright {
    color: #00aa88;
    font-size: 15px;
    text-align: center;
    margin: -35px 0px;
}

.social-hw {
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.icon-hw {
    width: 45px;
    margin: 0 25px 0 -5px;
    border-radius: 500px;
    aspect-ratio: 2;
    object-fit: contain;
}